################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Sales.slnx/v18
/WinFormsAppSales/.vs/WinFormsAppSales.slnx/FileContentIndex
